{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}



<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
        <div class="forms-inner">
            <div class="wthree_general graph-form agile_info_shadow ">
                <h3 class="w3_inner_tittle two">Add Store </h3>
                <div class="scrollY">
                <div class="grid-1 ">
                    <div class="form-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Display Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_display_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label">Store Address</label>
                                <div class="col-sm-8"><textarea name="store_address" cols="50" rows="4"
                                        class="form-control1"></textarea></div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Contact Person</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_contact_person">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_contact_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Latitude</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_latitude">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Longitude</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_longitude">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store GSTIN Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_gstin_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Store Pan Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="store_pan_number">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label"></label>
                                <div class="col-md-8">
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Store GSTIN Document (Optional)</label>
                                        <input type="file" name="product_gstin_document">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Store Pan Document (Optional)</label>
                                        <input type="file" name="product_pan_document">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label"></label>
                                <button type="submit" class="btn btn-default">Add Store</button>
                            </div>
                        </form>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}