{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="scrollY">
<div class="w3l-table-info agile_info_shadow">
    <h3 class="w3_inner_tittle two">Stores</h3>
    <table id="table">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Store City</th>
                <th>Store Contact Person</th>
                <th>Store Contact Number</th>
                <th>Seller-Panel Username</th>
                <th>Seller-Panel Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for store in store_data %}
            <tr>
                <td><span class="bt-content">{{ store.store_name }}</span></td>
                <td><span class="bt-content">{{ store.address }}</span></td>
                <td><span class="bt-content">{{ store.city }}</span></td>
                <td><span class="bt-content">{{ store.contact_person }}</span></td>
                <td><span class="bt-content">{{ store.contact_no1 }}<br>{{ store.contact_no2 }}</span></td>
                <td><span class="bt-content">{{ store.vendor_userName }}</span></td>
                <td><span class="bt-content">{{ store.vendor_password }}</span></td>
                <td><span class="bt-content"><div class="dropdown custom-dropdown mb-0">
                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Add Product</a>
                    </div>
                </div></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>




{% endblock content %}