{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}


    <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
        <div class="">
            <div class="card-header">
                <h4 class="card-title">All Stores</h4>
                {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewDeliveryBoy">Add Delivery Boy</button> {% endcomment %}
                <div class="input-group search-area d-lg-inline-flex d-none">
                    <form method="POST" action="{% url 'search_allstores' %}">
                    {% csrf_token %}
                    <div class="input-group-append">
                        <input type="text" class="form-control" name="search_keyword" placeholder="Search Store..." required>
                        <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                        {% comment %} <button class="input-group-text"><i class="flaticon-381-"></i></button> {% endcomment %}
                    </div>
                    </form>
                </div>
            </div>
            <div class="card-body w-800">
                <div class="table-responsive recentOrderTable ">
                    <table class="table verticle-middle table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Store Name</th>
                                <th scope="col">City</th>
                                <th scope="col">Address</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Seller Panel Username</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for store in search_list %}
                            <tr>
                                <td>{{ store.store_name }}</td>
                                <td>{{ store.city }}</td>
                                <td>{{ store.address }}</td>
                                <td>{{ store.contact_person }}</td>
                                <td>{{ store.contact_no1 }}<br>{{ store.contact_no2 }}</td>
                                <td>{{ store.vendor_userName }}</td>
                                <td>
                                    <div class="dropdown custom-dropdown mb-0">
                                        <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="12" cy="5" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="12" cy="19" r="2"/></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="">Add Product</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Check Existing Products</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Add Delivery Boy</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Update Vendor</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Refresh Inventory</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}