{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
        <div class="forms-inner">
            <div class="wthree_general graph-form agile_info_shadow ">
                <h3 class="w3_inner_tittle two">Add Dilevery Boy </h3>
                <div class="grid-1 ">
                    <div class="form-body">
                        <form class="form-horizontal" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="full_name" class="col-sm-2 control-label">Full Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="full_name" name="full_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile_number" class="col-sm-2 control-label">Mobile Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id = "mobile_number" name="mobile_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control1" id = "password" name="password">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label"></label>
                                <button type="submit" class="btn btn-default">Add Store</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}