{% extends 'dashboard/base.html' %}

{% block content %}
<div class="scrollY">
    <div class="w3l-table-info agile_info_shadow">
        <h3 class="w3_inner_tittle two">Dilevery Boys</h3>
        <table id="table">
            <thead>
                <tr>

                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                    <th>Rating</th>
                    <th>Total Delivery</th>
                </tr>
            </thead>
            <tbody>


                {% for data in deliveryboys %}
                <tr> 

                    <td><span class="bt-content">{{data.deliveryBoyId}}</span></td>
                    <td><span class="bt-content">{{data.first_name}} {{data.last_name}}</span></td>
                    <td><span class="bt-content">{{data.email}}</span></td>
                    <td><span class="bt-content">{{data.address1}}</span></td>
                    <td><span class="bt-content">{{data.mob_no}}</span></td>
                    <td><span class="bt-content">{{data.rating}}</span></td>
                    <td><span class="bt-content">{{data.TotalDelivery}}</span></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}