{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
            <div class="forms-inner">
                <div class="wthree_general graph-form agile_info_shadow ">
                    <h3 class="w3_inner_tittle two">Add Buy Get </h3>
                    <div class="grid-1 ">
                        <div class="form-body">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="Buy_quantity" class="col-sm-2 control-label">Buy Quantity</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="Buy_quantity" name="Buy_quantity">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Get_quantity" class="col-sm-2 control-label">Get Quantity</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="Get_quantity" name="Get_quantity">
                                    </div>
                                </div>
                                


                                <div class="form-group">
                                    <label for="wallet" class="col-sm-2 control-label">Product</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="wallet" name="product_id">
                                            {% for data in product %}
                                            <option value="{{data.id}}">{{data.product_id}} {{data.product_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="store" class="col-sm-2 control-label">Store</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="store" name="store" multiple>
                    
                                            {% for data in store_data %}
                                            <option value="{{data.id}}" >{{data.store_name}}</option>
                                            
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                
                                    <button type="submit" class="btn btn-default">Add Offer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}