{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
            <div class="forms-inner">
                <div class="wthree_general graph-form agile_info_shadow ">
                    <h3 class="w3_inner_tittle two">Add Product </h3>
                    <div class="grid-1 ">
                        <div class="form-body">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="Buy_quantity" class="col-sm-2 control-label">Buy Quantity</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="user_product_quantity" name="user_product_quantity">
                                    </div>
                                </div>
                                                          
                                <div class="form-group">
                                    <label for="user_product_category" class="col-sm-2 control-label">Product Category</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="user_product_category" name="user_product_category">
                                            {% for data in product_catgory %}
                                            <option value="{{data.id}}">{{data.category_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_buy_product" class="col-sm-2 control-label">Product</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="user_buy_product" name="user_buy_product">
                                            {% for data in product %}
                                            <option value="{{data.id}}">{{data.product_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="store" class="col-sm-2 control-label">Store</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="store" name="store" multiple>
                    
                                            {% for data in store_data %}
                                            <option value="{{data.id}}" >{{data.store_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                
                                    <button type="submit" class="btn btn-default">Add Offer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}