{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">
    <div class="w3l-table-info agile_info_shadow d-flex justify-content-between">
        <h3 class="w3_inner_tittle two">Loyalty Offer</h3>
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Buy_quantity</th>
                    <th>Get_quantity</th>
                    <th>Store</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for data in offer %}
                <tr>
                    <td><span class="bt-content">{{ data.id }}</span></td>
                    <td><span class="bt-content">{{ data.Product }}</span></td>
                    <td><span class="bt-content">{{ data.Buy_quantity }}</span></td>
                    <td><span class="bt-content">{{ data.Get_quantity }}</span></td>
                    <td><span class="bt-content">
                        {% for store in data.store %}
                            {{store}} ,

                        {% endfor %}

                    </span></td>
                    <td><span class="bt-content"><a href="#" >Update</a></span></td>
                    <td><span class="bt-content"><a href="/loyaltyoffer/delete/{{data.id}}/">Delete</a></span></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    

{% endblock  %}