{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
            <div class="forms-inner">
                <div class="wthree_general graph-form agile_info_shadow ">
                    <h3 class="w3_inner_tittle two">Add Offer </h3>
                    <div class="grid-1 ">
                        <div class="form-body">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="name" name="name" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone_number" class="col-sm-2 control-label">Mobile Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="phone_number" name="phone_number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="promocode" class="col-sm-2 control-label">Promocode</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1" id="promocode" name="promocode">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="wallet" class="col-sm-2 control-label"> Wallet</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="wallet" name="wallet">
                                            {% for data in wallet %}
                                            <option value="{{data.id}}">{{data.full_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="store" class="col-sm-2 control-label">Store</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="store" name="store" multiple>
                    
                                            {% for data in store_data %}
                                            <option value="{{data.id}}" >{{data.store_name}}</option>
                                            
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtarea1" class="col-sm-2 control-label"></label>
                                    <button type="submit" class="btn btn-default">Add Offer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}