{% extends 'dashboard/base.html' %}

{% block content %}
<div class="scrollY">
    <div class="w3l-table-info agile_info_shadow d-flex justify-content-between">
        <h3 class="w3_inner_tittle two">Loyalty Offer</h3>
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Promocode</th>
                    <th>Wallet</th>
                    <th>Store</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for data in offer %}
                <tr>
                    <td><span class="bt-content">{{ data.id }}</span></td>
                    <td><span class="bt-content">{{ data.name }}</span></td>
                    <td><span class="bt-content">{{ data.phone_number }}</span></td>
                    <td><span class="bt-content">{{ data.promocode }}</span></td>
                    <td><span class="bt-content">{{ data.wallet }}</span></td>
                    <td><span class="bt-content">{{ data.store }}</span></td>
                    <td><span class="bt-content"><a href="/loyaltyoffer/delete/{{data.id}}/">Delete</a></span></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    
{% endblock %}