{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">
    <div class="w3l-table-info agile_info_shadow d-flex justify-content-between">
        <h3 class="w3_inner_tittle two">Loyalty Offer</h3>
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Quantity</th>
                    <th>Product Category</th>
                    <th>Product</th>
                    <th>Store</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for data in offer %}
                <tr>
                    <td><span class="bt-content">{{ data.id }}</span></td>
                    <td><span class="bt-content">{{ data.user_product_quantity }}</span></td>
                    <td><span class="bt-content">{{ data.user_product_category }}</span></td>
                    <td><span class="bt-content">{{ data.user_buy_product }}</span></td>
                    <td><span class="bt-content">{{ data.store }}</span></td>
                    <td><span class="bt-content"><a href="#" >Update</a></span></td>
                    <td><span class="bt-content"><a href="productoffer/delete/{{data.id}}/">Delete</a></span></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    

{% endblock %}