{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="forms-main_agileits">
    <div class="forms-inner">
        <div class="wthree_general graph-form agile_info_shadow ">
            <h3 class="w3_inner_tittle two">Add Product </h3>

            <div class="grid-1 ">
                <div class="form-body">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Product Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="category_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtarea1" class="col-sm-2 control-label">Product Description</label>
                            <div class="col-sm-8"><textarea name="category_description" cols="50" rows="4"
                                    class="form-control1"></textarea></div>
                        </div>
                        <div class="form-group">
                            <label for="txtarea1" class="col-sm-2 control-label">Category Banner</label>
                            <div class="col-md-8">
                            <label for="exampleInputFile"></label>
                            <label for="exampleInputFile"></label>
                            <input type="file" name="category_thumbnail">
                            </div>
                        </div>
                        <div class="form-group">
                        <label for="txtarea1" class="col-sm-2 control-label"></label>
                        <button type="submit" class="btn btn-default">Add Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}