{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<style>
    body{
        width: 100%;
    }
</style>


<div class="scrollY">

    <div class="forms-main_agileits">
        <div class="inner_content">
        <div class="forms-inner">
            <div class="wthree_general graph-form agile_info_shadow">
                <h3 class="w3_inner_tittle two">Add Product </h3>
                <div class="grid-1 ">
                    <div class="form-body">
                        <form method="POST" class="form-horizontal">
                        {% csrf_token %}   
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Product Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" name="product_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label">Product Description</label>
                                <div class="col-sm-8"><textarea name="product_description" cols="50" rows="4"
                                        class="form-control1"></textarea></div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label"></label>
                                <div class="col-md-8">
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Product Image (Required)</label>
                                        <input type="file" name="product_image">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Product Image (Optional)</label>
                                        <input type="file" name="product_image1">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Product Image (Optional)</label>
                                        <input type="file" name="product_image2">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="exampleInputFile">Product Image (Optional)</label>
                                        <input type="file" name="product_image3">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="focusedinput" class="col-sm-2 control-label"></label>
                                <div class="col-md-8">
                                    <div class="col-md-4">
                                        <div class="input-group ">
                                            <span class="input-group-addon">
                                                &#8377;
                                            </span>
                                            <input type="number" min="1" name="product_price" class="form-control1 icon"
                                                placeholder="Product Price">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group ">
                                            <input type="number" min="0" step=".1" name="product_sgst" class="form-control1 icon"
                                                placeholder="SGST">
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group ">
                                            <input type="number" min="0" step=".1" name="product_cgst" class="form-control1 icon"
                                                placeholder="CGST">
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="radio" class="col-sm-2 control-label">Is the Product Subscribable?</label>
                                <div class="col-sm-8">
                                    <div class="radio block"><label><input type="radio" name="subscriptionProduct"
                                                value="True"> Yes</label></div>
                                    <div class="radio block"><label><input type="radio" name="subscriptionProduct"
                                                value="False" checked> No</label></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
                                <div class="col-sm-8"><select name="product_main_category"class="form-control1">
                                        {% for category in main_categories %}
                                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select></div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
                                <div class="col-sm-8"><select name="product_sub_category" class="form-control1">
                                        {% for category in sub_categories %}
                                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select></div>
                            </div>
                            <div class="form-group">
                                <label for="radio" class="col-sm-2 control-label">Product Type</label>
                                <div class="col-sm-8">
                                    <div class="radio block"><label><input type="radio" name="productPackaging"
                                                value="loose"> Loose</label></div>
                                    <div class="radio block"><label><input type="radio" name="productPackaging"
                                                value="packaged" checked> Packaged</label></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label"></label>
                                <button type="submit" class="btn btn-default">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}