{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="scrollY">
<div class="w3l-table-info agile_info_shadow d-flex justify-content-between">
    <h3 class="w3_inner_tittle two">All Products</h3>
    <table id="table">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product SGST</th>
                <th>Product CGST</th>
                <th>Product Subscription</th>
                <th>Product Main Category</th>
                <th>Product Sub Category</th>
                <th>Product Type</th>
                <th>Product Quantity Choice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in allproducts %}
            <tr>
                <td><span class="bt-content">{{ product.product_name }}</span></td>
                <td><span class="bt-content">{{ product.product_image }}</span></td>
                <td><span class="bt-content">{{ product.product_description }}</span></td>
                <td><span class="bt-content">{{ product.product_price }}</span></td>
                <td><span class="bt-content">{{ product.sgst }}</span></td>
                <td><span class="bt-content">{{ product.cgst }}</span></td>
                <td><span class="bt-content">{{ product.product_subscription }}</span></td>
                <td><span class="bt-content">{{ product.product_main_category }}</span></td>
                <td><span class="bt-content">{{ product.product_sub_category }}</span></td>
                <td><span class="bt-content">{{ product.product_choice }}</span></td>
                <td><span class="bt-content">{{ product.product_quantities_choice }}</span></td>
                <td><span class="bt-content"><div class="dropdown custom-dropdown mb-0">
                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Add Product</a>
                    </div>
                </div></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>




{% endblock content %}