{% load static %}

<html>

<head>
    <title>{% block title %}Punjab Sind - Admin Dashboard{% endblock title %} </title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="{% static 'dashboard/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/component.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/export.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/flipclock.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/circles.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/style_grid.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/table-style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/basictable.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'dashboard/css/font-awesome.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">


</head>


<body>
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <ul class="gn-menu agile_menu_drop">
                                <li><a href="{% url 'home' %}"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
                                <li><a href="{% url 'allorder' %}"><i class="fa fa-cogs" aria-hidden="true"></i>
                                        Orders </a> 
                                    <ul class="gn-submenu">
										<li class="mini_list_agile"><a href="{% url 'pendingorders' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i> Pending Orders</a></li>
										
									</ul>
                                </li>
                                {% comment %} <li><a href="#"> <i class="fa fa-file-text-o" aria-hidden="true"></i>Vendors</a> </li> {% endcomment %}
                                <li><a href="{% url 'deliveryboylist'%}"> <i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>Delivery Boys</a></li>
                                <ul class="gn-submenu">
                                    <li class="mini_list_w3"><a href="{% url 'adddeliveryboy' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Add Delivery Boy</a>
                                    </li>
                                </ul <li><a href="{% url 'allstores' %}"> <i class="fa fa-file-text-o"
                                        aria-hidden="true"></i>Stores</a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_w3"><a href="{% url 'addstore' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Add Store</a></li>
                                </ul> </li>
                                {% comment %} <li><a href="#"> <i class="fa fa-file-text-o" aria-hidden="true"></i>Customers</a> </li> {% endcomment %}
                                <li><a href="#"> <i class="fa fa-table" aria-hidden="true"></i> Offers</a>
                                    <ul class="gn-submenu">
                                    <li class="mini_list_w3"><a href="{% url 'loyalityoffer' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Loyalty Offers</a></li>
                                    <li class="mini_list_w3"><a href="{% url 'add_offer' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Add Loyalty Offer</a></li>
                                    <li class="mini_list_w3"><a href="{% url 'buy_get_offer' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Buy and Get Offer</a></li>
                                    <li class="mini_list_w3"><a href="{% url 'add_buy_get_offer' %}"> <i
                                                class="fa fa-caret-right" aria-hidden="true"></i> Add Buy and Get Offer</a></li>
                                </ul>
                                </li>
                                <li><a href="{% url 'allproducts' %}"> <i class="fa fa-table" aria-hidden="true"></i>
                                        Product</a>
                                    <ul class="gn-submenu">
                                        <li class="mini_list_w3"><a href="{% url 'addproducts' %}"> <i
                                                    class="fa fa-caret-right" aria-hidden="true"></i> Add Products</a>
                                        </li>
                                        <li class="mini_list_w3"><a href="{% url 'addmaincategory' %}"> <i
                                                    class="fa fa-caret-right" aria-hidden="true"></i> Add Main
                                                Category</a></li>
                                        <li class="mini_list_w3"><a href="{% url 'addsubcategory' %}"> <i
                                                    class="fa fa-caret-right" aria-hidden="true"></i> Add Sub
                                                Category</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i>Short Codes <i class="fa fa-angle-down" aria-hidden="true"> </i></a> 
								     	<ul class="gn-submenu">
										<li class="mini_list_agile"><a href="typo.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Typography</a></li>
										<li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Icons</a></li>
										
									</ul>
								</li> -->
                            </ul>
                        </div>
                    </nav>
                </li>
                <!-- //nav_agile_w3l -->
                <li class="second logo">
                    <h1 class="flexiFig"><a href="main-page.html"><img src="{% static 'users/images/pslogo.png' %}"></a>
                    </h1>
                </li>
            </ul>
            <!-- //nav -->

        </div>
        <div class="clearfix"></div>
        <!-- //w3_agileits_top_nav-->

        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->

            <!-- breadcrumbs -->
            <div class="w3l_agileits_breadcrumbs">
                <div class="w3l_agileits_breadcrumbs_inner">
                    <ul>
                        <li><a href="main-page.html">Home</a><span>«</span></li>
                        <li>Short Codes <span>«</span></li>
                        <li>Icons</li>
                    </ul>
                </div>
            </div>
            <!-- //breadcrumbs -->

        </div>
        <!-- //inner_content-->
    </div>
    <!-- banner -->

    {% block content %}


    {% endblock content %}

    <!--copy rights start here-->
    <div class="copyrights">
        <p>© Punjab Sind. All Rights Reserved.</p>
    </div>
    <!--copy rights end here-->
    <!-- js -->
    <script type="text/javascript" src="{% static 'dashboard/js/jquery-2.1.4.min.js' %}"></script>

    <!-- /amcharts -->
    <script src="{% static 'dashboard/js/amcharts.js' %}"></script>
    <script src="{% static 'dashboard/js/serial.js' %}"></script>
    <script src="{% static 'dashboard/js/export.js' %}"></script>
    <script src="{% static 'dashboard/js/light.js' %}"></script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": [{
                "country": "USA",
                "visits": 4025,
                "color": "#FF0F00"
            }, {
                "country": "China",
                "visits": 1882,
                "color": "#FF6600"
            }, {
                "country": "Japan",
                "visits": 1809,
                "color": "#FF9E01"
            }, {
                "country": "Germany",
                "visits": 1322,
                "color": "#FCD202"
            }, {
                "country": "UK",
                "visits": 1122,
                "color": "#F8FF01"
            }, {
                "country": "France",
                "visits": 1114,
                "color": "#B0DE09"
            }, {
                "country": "India",
                "visits": 984,
                "color": "#04D215"
            }, {
                "country": "Spain",
                "visits": 711,
                "color": "#0D8ECF"
            }, {
                "country": "Netherlands",
                "visits": 665,
                "color": "#0D52D1"
            }, {
                "country": "Russia",
                "visits": 580,
                "color": "#2A0CD0"
            }, {
                "country": "South Korea",
                "visits": 443,
                "color": "#8A0CCF"
            }, {
                "country": "Canada",
                "visits": 441,
                "color": "#CD0D74"
            }, {
                "country": "Brazil",
                "visits": 395,
                "color": "#754DEB"
            }, {
                "country": "Italy",
                "visits": 386,
                "color": "#DDDDDD"
            }, {
                "country": "Taiwan",
                "visits": 338,
                "color": "#333333"
            }],
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "visits"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv1", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [{
                "year": 2017,
                "europe": 2.5,
                "namerica": 2.5,
                "asia": 2.1,
                "lamerica": 0.3,
                "meast": 0.2,
                "africa": 0.1
            }, {
                "year": 2016,
                "europe": 2.6,
                "namerica": 2.7,
                "asia": 2.2,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }, {
                "year": 2015,
                "europe": 2.8,
                "namerica": 2.9,
                "asia": 2.4,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.5,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Europe",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "North America",
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Asia-Pacific",
                "type": "column",
                "color": "#000000",
                "valueField": "asia"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Latin America",
                "type": "column",
                "color": "#000000",
                "valueField": "lamerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Middle-East",
                "type": "column",
                "color": "#000000",
                "valueField": "meast"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Africa",
                "type": "column",
                "color": "#000000",
                "valueField": "africa"
            }],
            "rotate": true,
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true
            }
        });
    </script>

    <!-- //amcharts -->
    {% comment %}
    <script src="{% static 'dashboard/js/chart1.js' %}"></script> {% endcomment %}
    <script src="{% static 'dashboard/js/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'dashboard/js/classie.js' %}"></script>
    <script src="{% static 'dashboard/js/gnmenu.js' %}"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- script-for-menu -->

    <!-- /circle-->
    <script type="text/javascript" src="{% static 'dashboard/js/circles.js' %}"></script>
    <script>
        var colors = [
            ['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'], ['#ffffff', '#53d769'], ['#ffffff', '#147efb']
        ];
        for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
                percentage = 30 + (i * 10);

            Circles.create({
                //id: child.id,
                percentage: percentage,
                radius: 80,
                width: 10,
                number: percentage / 1,
                text: '%',
                colors: colors[i - 1]
            });
        }

    </script>
    <!-- //circle -->
    <!--skycons-icons-->
    <script src="{% static 'dashboard/js/skycons.js' %}"></script>
    <script>
        var icons = new Skycons({ "color": "#fcb216" }),
            list = [
                "partly-cloudy-day"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <script>
        var icons = new Skycons({ "color": "#fff" }),
            list = [
                "clear-night", "partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind", "fog"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <!--//skycons-icons-->
    <!-- //js -->
    <script src="{% static 'dashboard/js/screenfull.js' %}"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="{% static 'dashboard/js/flipclock.js' %}"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <script src="{% static 'dashboard/js/bars.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/js/bootstrap-3.1.1.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'dashboard/js/jquery.basictable.min.js' %}"></script>
    <script src="{% static 'dashboard/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'dashboard/js/classie.js' %}"></script>
    <script src="{% static 'dashboard/js/gnmenu.js' %}"></script>
    <script src="{% static 'dashboard/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'dashboard/js/classie.js' %}"></script>
    <script src="{% static 'dashboard/js/gnmenu.js' %}"></script>

</body>

</html>