{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}

<style>

    .agile_top_w3_grids {
        width: 60%;
        margin: 0 auto;
        align-items: center;
    }

</style>


<div class="scrollY">
    <div class="agile_top_w3_grids">
            <ul class="ca-menu">
                <li>
                    <a href="{% url 'topstores' %}">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <div class="ca-content">
                            {% comment %} <h4 class="ca-main">16,808</h4> {% endcomment %}
                            <h3 class="ca-sub">Top Stores</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'topstores_weekly' %}">
                        <i class="fa  fa-calendar-o" aria-hidden="true"></i>
                        <div class="ca-content">
                            {% comment %} <h4 class="ca-main one">26,808</h4> {% endcomment %}
                            <h3 class="ca-sub one">Top Stores per Week</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'stores_assigned_offers' %}">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <div class="ca-content">
                        {% comment %} <h4 class="ca-main two">29,008</h4> {% endcomment %}
                            <h3 class="ca-sub two">Offers Assigned to Store</h3>
                        </div>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
    </div>
    <div class="col-md-12 fallowers_agile agile_info_shadow">
        <h3 class="w3_inner_tittle two">Top Stores</h3>
                    <div class="work-progres">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Store City</th>
                <th>Store Contact Person</th>
                <th>Store Contact Number</th>
                <th>Seller-Panel Username</th>
                <th>Seller-Panel Password</th>
                <th>Actions</th>
            </tr>
                            </thead>
                            <tbody>
            {% for store in store_data %}
            <tr>
                <td><span class="bt-content">{{ store.store_name }}</span></td>
                <td><span class="bt-content">{{ store.address }}</span></td>
                <td><span class="bt-content">{{ store.city }}</span></td>
                <td><span class="bt-content">{{ store.contact_person }}</span></td>
                <td><span class="bt-content">{{ store.contact_no1 }}<br>{{ store.contact_no2 }}</span></td>
                <td><span class="bt-content">{{ store.vendor_userName }}</span></td>
                <td><span class="bt-content">{{ store.vendor_password }}</span></td>
                <td><span class="bt-content"><div class="dropdown custom-dropdown mb-0">
                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Add Product</a>
                    </div>
                </div></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>											
    </div>
    <div class="col-md-12 fallowers_agile agile_info_shadow">
        <h3 class="w3_inner_tittle two">Top Stores Weekly</h3>
                    <div class="work-progres">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Store City</th>
                <th>Store Contact Person</th>
                <th>Store Contact Number</th>
                <th>Seller-Panel Username</th>
                <th>Seller-Panel Password</th>
                <th>Actions</th>
            </tr>
                            </thead>
                            <tbody>
            {% for store in store_data %}
            <tr>
                <td><span class="bt-content">{{ store.store_name }}</span></td>
                <td><span class="bt-content">{{ store.address }}</span></td>
                <td><span class="bt-content">{{ store.city }}</span></td>
                <td><span class="bt-content">{{ store.contact_person }}</span></td>
                <td><span class="bt-content">{{ store.contact_no1 }}<br>{{ store.contact_no2 }}</span></td>
                <td><span class="bt-content">{{ store.vendor_userName }}</span></td>
                <td><span class="bt-content">{{ store.vendor_password }}</span></td>
                <td><span class="bt-content"><div class="dropdown custom-dropdown mb-0">
                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Add Product</a>
                    </div>
                </div></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>											
    </div>
    <div class="col-md-12 fallowers_agile agile_info_shadow">
        <h3 class="w3_inner_tittle two">Top Stores</h3>
                    <div class="work-progres">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Store City</th>
                <th>Store Contact Person</th>
                <th>Store Contact Number</th>
                <th>Seller-Panel Username</th>
                <th>Seller-Panel Password</th>
                <th>Actions</th>
            </tr>
                            </thead>
                            <tbody>
            {% for store in store_data %}
            <tr>
                <td><span class="bt-content">{{ store.store_name }}</span></td>
                <td><span class="bt-content">{{ store.address }}</span></td>
                <td><span class="bt-content">{{ store.city }}</span></td>
                <td><span class="bt-content">{{ store.contact_person }}</span></td>
                <td><span class="bt-content">{{ store.contact_no1 }}<br>{{ store.contact_no2 }}</span></td>
                <td><span class="bt-content">{{ store.vendor_userName }}</span></td>
                <td><span class="bt-content">{{ store.vendor_password }}</span></td>
                <td><span class="bt-content"><div class="dropdown custom-dropdown mb-0">
                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Add Product</a>
                    </div>
                </div></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>											
    </div>
</div>


{% endblock content %}