{% extends 'dashboard/base.html' %}


{% block content %}
<div class="scrollY">
    <!-- <div>
        css need to be fixed here i have created rest of the things
        <form action="" method="post">
            {% csrf_token %}
                
                <label for="wallet" class="col-sm-2 control-label"> Wallet</label>
                <div class="col-sm-8">
                    <select class="form-control" id="wallet" name="wallet">
                        {% for data in delivery %}
                        <option value="{{data.id}}">{{data.full_name}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
            </div>
        </form>
    </div> -->
    <div class="w3l-table-info agile_info_shadow">
        <h3 class="w3_inner_tittle two">Orders</h3>
        <table id="table">
            <thead>
                <tr>

                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Payment Mode</th>
                    <th>Dilevery Boy Name</th>
                    <th>Dilevery Date</th>
                    <th>Subscription Type</th>
                    <th>Subscription Id </th>
                    <th>Offer ID</th>
                    <th>Grand Total</th>
                </tr>
            </thead>
            <tbody>


                {% for data in order %}
                <tr> 

                    <td><span class="bt-content">{{data.id}}</span></td>
                    <td><span class="bt-content">{{data.create_date}}</span></td>
                    <td><span class="bt-content">{{data.order_status}}</span></td>
                    <td><span class="bt-content">{{data.payment_mode}}</span></td>
                    <td><span class="bt-content">{{data.delivery_boy_id}}</span></td>
                    <td><span class="bt-content">{{data.delivery_end_time}}</span></td>
                    <td><span class="bt-content">{{data.subscription_type}}</span></td>
                    <td><span class="bt-content">{{data.subscriptionId}}</span></td>
                    <td><span class="bt-content">{{data.offer_Id}}</span></td>
                    <td><span class="bt-content">{{data.grandTotal}}</span></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}