{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}

<div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<!-- Add Project -->
				<div class="row kanban-bx">
					<div class="col">
						<div class="card kanbanPreview-bx">
						<a href="{% url 'pendingorders' %}">
							<div class="card-body draggable-zone dropzoneContainer">
								<div class="sub-card bg-secondary align-items-center d-flex text-white">
									<div class="mr-auto pr-2">
										<h4 class="fs-20 mb-0 font-w600 text-white">Pending Orders</h4>
										{% comment %} <span class="fs-14 font-w200 op6">Lorem ipsum dolor sit amet</span> {% endcomment %}
									</div>
								</div>
							</div>
						</div>
						</a>
					</div>
					<div class="col">
						<div class="card kanbanPreview-bx">
							<a href="{% url 'topstores_weekly' %}">
							<div class="card-body draggable-zone  dropzoneContainer">
								<div class="sub-card bg-warning align-items-center d-flex text-white">
									<div class="mr-auto pr-2">
										<h4 class="fs-20 mb-0 font-w600 text-white">Edited Orders</h4>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
					<div class="col">
						<div class="card kanbanPreview-bx">
							<a href="#">
							<div class="card-body draggable-zone dropzoneContainer">
								<div class="sub-card bg-info align-items-center d-flex text-white">

									<div class="mr-auto pr-2">
										<h4 class="fs-20 mb-0 font-w600 text-white">Cancelled Orders</h4>
									</div>
									
								</div>
							</div>
							</a>
						</div>
					</div>
					{% comment %} <div class="col">
						<div class="card kanbanPreview-bx">
							<div class="card-body draggable-zone dropzoneContainer">
								<div class="sub-card bg-primary align-items-center d-flex text-white">
									<div class="mr-auto pr-2">
										<h4 class="fs-20 mb-0 font-w600 text-white">Revised  (<span class="totalCount">0</span>)</h4>
										<span class="fs-14 font-w200 op6">Lorem ipsum dolor sit amet</span>
									</div>
								</div>
							</div>
						</div>
					</div> {% endcomment %}
					{% comment %} <div class="col">
						<div class="card kanbanPreview-bx">
							<div class="card-body draggable-zone dropzoneContainer">
								<div class="sub-card bg-secondary align-items-center d-flex text-white">
									<div class="mr-auto pr-2">
										<h4 class="fs-20 mb-0 font-w600 text-white">On Progress  (<span class="totalCount">2</span>)</h4>
										<span class="fs-14 font-w200 op6">Lorem ipsum dolor sit amet</span>
									</div>
								</div>
							</div>
						</div>
					</div>	 {% endcomment %}
				</div>	
			</div>
		</div>


{% endblock content %}