{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

    <div class="scrollY">
    <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
        <div class="">
            <div class="card-header">
                <h4 class="card-title">Pending Orders</h4>
                {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewDeliveryBoy">Add Delivery Boy</button> {% endcomment %}
                {% comment %} <div class="input-group search-area d-lg-inline-flex d-none">
                    <form method="POST" action="{% url 'search_allstores' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="search_keyword" placeholder="Search Store..." required>
                    <div class="input-group-append">
                        <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                    </div>
                    </form>
                </div> {% endcomment %}
            </div>
            <div class="card-body w-800">
                <div class="table-responsive recentOrderTable ">
                    <table class="table verticle-middle table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Payable Amount</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Delivery Status</th>
                                <th scope="col">Delivery Type</th>
                                {% comment %} <th scope="col">Actions</th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in pending_orders %}
                            <tr>
                                <td>{{ order.order_id }}</td>
                                <td>{{ order.discount }}</td>
                                <td>{{ order.payable_amount }}</td>
                                <td>{{ order.payment_status }}</td>
                                <td>{{ order.payment_mode }}</td>
                                <td>{{ order.delivery_status }}</td>
                                <td>{{ order.order_delivery_type }}</td>
                                {% comment %} <td> {% endcomment %}
                                    {% comment %} <div class="dropdown custom-dropdown mb-0"> {% endcomment %}
                                        {% comment %} <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown"> {% endcomment %}
                                            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="12" cy="5" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="12" cy="19" r="2"/></g></svg> {% endcomment %}
                                        {% comment %} </div> {% endcomment %}
                                        {% comment %} <div class="dropdown-menu dropdown-menu-right"> {% endcomment %}
                                            {% comment %} <a class="dropdown-item" href="">Add Product</a> {% endcomment %}
                                            {% comment %} <a class="dropdown-item" href="">Check Existing Products</a> {% endcomment %}
                                            {% comment %} <a class="dropdown-item" href="">Add Delivery Boy</a> {% endcomment %}
                                            {% comment %} <a class="dropdown-item" href="">Update Vendor</a> {% endcomment %}
                                            {% comment %} <a class="dropdown-item" href="">Refresh Inventory</a> {% endcomment %}
                                        {% comment %} </div> {% endcomment %}
                                    {% comment %} </div> {% endcomment %}
                                {% comment %} </td> {% endcomment %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock content %}