<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/snow.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/component.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style_grid.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/font-awesome.css' %}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div class="pages_agile_info_w3l">
        <!-- /login -->
        <div class="over_lay_agile_pages_w3ls">
            <div class="registration">

                <div class="signin-form profile">
                    <h2>Sign in Form</h2>
                    <div class="login-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="email" name="username" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="SIGN IN">
                            </div>
                        </form>
                    </div>
                    
                </div>
        </div>

</body>

</html>